h2 {
    font-family: var(--font11);
    color: orange;
}

p {
    color: white;
    
}

span {
    width: 5em;
}

i {
    font-size: 10em;
    color: orange;
}

b {
    color: white;
    font-family: var(--font4);
}

span {
    color: whitesmoke;
}

a {
    text-align: center;
    
}

a:hover {
    background-color: orange;
}

.coverPhoto {
    padding: 2em;
    width: 100%;
    height: 100%;
    float:left;
    border-radius: 10em;
}

.skillNames {
    -webkit-animation-name: pulse;
    animation-name: pulse;
  }