input {
  text-align: center;
}

label {
  color: white;
}

.yourFavoriteWeapon {
  background-image: url("../assets/img/batman-vs-catwoman-comic-4k-artwork-x1.jpg");
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
