input {
  text-align: center;
}

label {
  color: white;
}

/* Desktop PC & Responsive */
.contactBox {
  margin: auto;
  width: 80vh;
  top: 20vh;
  text-align: center;
}

.yourFavoriteWeapon {
  background-image: url("../assets/img/batman-vs-catwoman-comic-4k-artwork-x1.jpg");
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Ipad Pro COMPLETE */
@media screen and (max-width: 1024px) {
  .contactBox {
    margin: auto;
    width: 45vh;
    text-align: center;
  }

  .yourFavoriteWeapon {
    background-image: url("../assets/img/batman-vs-catwoman-comic-4k-artwork-x1.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: left;
    min-height: 40vh;
}
}

/* Ipad COMPLETE */
@media screen and (max-width: 769px) {
  .contactBox {
    margin: auto;
    width: 55vh;
    top: 20vh;
    text-align: center;
  }
  .yourFavoriteWeapon {
    background-image: url("../assets/img/batman-vs-catwoman-comic-4k-artwork-x1.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}
}

/* Iphone 6/7/8 Plus COMPLETE */
@media screen and (max-width: 414px) {
  .contactBox {
    margin: auto;
    width: 43vh;
    top: 20vh;
    text-align: center;
  }
  .yourFavoriteWeapon {
    background-image: url("../assets/img/batman-vs-catwoman-comic-4k-artwork-x1.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}
}

/* Pixel 2 & Pixel 2 XL & iPhone 6/7/8 & iPhone X COMPLETE */
@media screen and (max-width: 412px) {
  .contactBox {
    margin: auto;
    width: 43vh;
    top: 20vh;
    text-align: center;
  }
  .yourFavoriteWeapon {
    background-image: url("../assets/img/batman-vs-catwoman-comic-4k-artwork-x1.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: left;
    min-height: 40vh;
}
}

/* Iphone 5/SE & Galaxy S5 */
@media screen and (max-width: 375px) {
  .contactBox {
    margin: auto;
    width: 43vh;
    top: 20vh;
    text-align: center;
  }
  .yourFavoriteWeapon {
    background-image: url("../assets/img/batman-vs-catwoman-comic-4k-artwork-x1.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
}
}