.jumbo {
    background: url(../assets/img/4kFightClub.jpg) center fixed;
    background-size: cover;
    height: 100vh; 
    text-align: center; 
    padding-top: 33%;
    
    
}
.display-2 {
    color: rgb(255, 255, 255);
    font-family: var(--font11);
    color: white;
    text-shadow: -1px 1px 0 var(--black), -7px 3px 0 #0a0e27;
                
}

 .lead {
    color: white;
    font-weight: bold;
    font-family: var(--font4);
    color: white;
    text-shadow: -1px 1px 0 var(--black), -1px 1px 0 #0a0e27;
} 
